<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lee_Hooymans_V1.Properties.Settings.CadetsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Cadets.accdb"
            providerName="System.Data.OleDb" />
        <add name="Lee_Hooymans_V1.Properties.Settings.jah_Lab2_DBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\jah_Lab2_DB.accdb"
            providerName="System.Data.OleDb" />
        <add name="Lee_Hooymans_V1.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Lee_Hooymans_V1.Properties.Settings.AnalysisDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AnalysisDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="Lee_Hooymans_V1.Properties.Settings.TotalAnalysisConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\TotalAnalysis.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>